.App {
  text-align: center;
  background-color: #dfe6e9;
  height: 620px;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #74b9ff;
  height: 400px;
  width: 550px;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
